<%- include('partials/header')%>

<%- include('partials/nav')%>

<div class="flex justify-around mb-10">
    <div >
        <div class="flex mt-5">
            <img class="w-[10vh] h-[10vh] object-cover object-top rounded-full" src="https://images.unsplash.com/photo-1601288496920-b6154fe3626a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="">
        
            <div class="p-2 leading-5">
                <h1 class="font-semibold"><%= user.fullname%></h1>
                <p><%= user.username%></p>
            </div>
        
        </div>
        
        <img class="w-[30vh] h-[45vh] mt-5 object-cover" src="https://images.unsplash.com/photo-1601288496920-b6154fe3626a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="">
        
        <i class="ri-heart-line pr-2 font-medium text-2xl"></i>
        <i class="ri-chat-3-line font-medium text-2xl"></i>
    </div>
    <div >
        <div class="flex mt-5">
            <img class="w-[10vh] h-[10vh] object-cover object-top rounded-full" src="https://images.unsplash.com/photo-1601288496920-b6154fe3626a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="">
        
            <div class="p-2 leading-5">
                <h1 class="font-semibold"><%= user.fullname%></h1>
                <p><%= user.username%></p>
            </div>
        
        </div>
        
        <img class="w-[30vh] h-[45vh] mt-5 object-cover" src="https://images.unsplash.com/photo-1601289149034-2daad70d0076?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D" alt="">
        
        <i class="ri-heart-line pr-2 font-medium text-2xl"></i>
        <i class="ri-chat-3-line font-medium text-2xl"></i>
    </div>

    <div >
        <div class="flex mt-5">
            <img class="w-[10vh] h-[10vh] object-cover object-top rounded-full" src="https://images.unsplash.com/photo-1601288496920-b6154fe3626a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="">
        
            <div class="p-2 leading-5">
                <h1 class="font-semibold"><%= user.fullname%></h1>
                <p><%= user.username%></p>
            </div>
        
        </div>
        
        <img class="w-[30vh] h-[45vh] mt-5 object-cover" src="https://images.unsplash.com/photo-1601288848351-48adce9d676a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D" alt="">
        
        <i class="ri-heart-line pr-2 font-medium text-2xl"></i>
        <i class="ri-chat-3-line font-medium text-2xl"></i>
    </div>

    <div >
        <div class="flex mt-5">
            <img class="w-[10vh] h-[10vh] object-cover object-top rounded-full" src="https://images.unsplash.com/photo-1601288496920-b6154fe3626a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="">
        
            <div class="p-2 leading-5">
                <h1 class="font-semibold"><%= user.fullname%></h1>
                <p><%= user.username%></p>
            </div>
        
        </div>
        
        <img class="w-[30vh] h-[45vh] mt-5 object-cover" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D" alt="">
        
        <i class="ri-heart-line pr-2 font-medium text-2xl"></i>
        <i class="ri-chat-3-line font-medium text-2xl"></i>
    </div>
</div>

<div class="bg-gradient-to-r flex from-purple-500 to to-pink-500 w-max m-auto text-white px-8 py-5 font-bold text-2xl rounded-lg">
    <i class="ri-search-line"></i>
    <i class="ri-add-large-line px-14"></i>
    <!-- <a href="/update-user/<%= user._id%>" class="ri-user-fill"></a> -->
     <a href="/update-user/<%= user._id%>">
        <img class="rounded-full h-[5vh] w-[5vh]" src="/images/<%= user.profilepic%>" alt="">
     </a>
</div>

<%- include('partials/footer')%>
